__pycache__/
*.py[cod]
.git/
.gitignore
.venv/
venv/
env/
dist/
build/
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

插件文件*/
插件配置文件/
日志文件/
插件数据文件/
status/
_Plugin_Data/
tests/
py_tests/
.vscode/
本地开发数据文件夹
*.bat
*.cmd
*.exe
*.so
*.dll
